<?xml version="1.0" encoding="UTF-8"?>
 
<!-- No need to set system property "log4j2.contextSelector" to any value
when using <asyncLogger> or <asyncRoot>. -->
 
<Configuration status="TRACE">
    <Appenders>

        !-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RollingFile name="RollingFile" fileName="logs/MinnLakes.log"
                     filePattern="logs/MinnLakes-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%-5p %d [%t] [%MDC] %c: %m%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RollingFile name="RollingJSON" fileName="logs/MinnLakes.json" filePattern="logs/MinnLakes-%d{MM-dd-yyyy}-%i.json.gz"
                     immediateFlush="false" append="false" bufferSize="124288">
<!--            <JsonLayout complete="false" compact="true" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true">
            
            <KeyValuePair key="appName" value="LakesAPI"/>
            <KeyValuePair key="requestId"  value="$${ctx:X-Request-Id}"/>
        </JsonLayout>-->
        <JsonTemplateLayout eventTemplateUri="classpath:logger_layout.json"/>
 
        <SizeBasedTriggeringPolicy size="25 MB"/>
        <DefaultRolloverStrategy max="10"/>

        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- pattern layout actually uses location, so we need to include it -->
        <AsyncLogger name="net.mims.lakes" level="info" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>
        <AsyncLogger name="com.zaxxer.hikari.pool" level="debug" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>
        <AsyncLogger name="org.hibernate.type" level="info" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>
        <AsyncLogger name="org.hibernate" level="info" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>
        <AsyncRoot  level="info" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="RollingJSON"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
