<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <queueSize>500</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${sys:catalina.base}/MinnLakes.log</file>
        <encoder>
            <pattern>%date %-5level - %logger %cn - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="TRACE"/>
    <logger name="org.hibernate.type" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <root level="info">
        <appender-ref ref="ASYNC" />
    </root>
     
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>